files:
  "/etc/awslogs/config/my_app_log.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/app/current/logs/messages.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/app/current/logs/error.log"]]}`
      log_stream_name = `{"Fn::Join":["--", [{ "Ref":"AWSEBEnvironmentName" }, "{instance_id}"]]}`
      file = /var/log/messages
commands:   
  1_command:    
    command: "sudo yum install awslogs -y" 
    cwd: /home/ec2-user 
  2_command:    
    command: "sudo service awslogs start"   
    cwd: /home/ec2-user 
  3_command:    
    command: "sudo chkconfig awslogs on"  

