# .ebextensions/99datadog.config
files:
  "/tmp/replace_datadog_api_key.sh" :
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/bin/bash
      sed 's/api_key:.*/api_key: 7b17c14f16721c82e1e4072362ec714a/' /etc/datadog-agent/datadog.yaml.example > /etc/datadog-agent/datadog.yaml
      sed -i 's/.*logs_enabled:.*/logs_enabled: true/' /etc/datadog-agent/datadog.yaml
files:
  "/etc/datadog-agent/conf.d/nginx.d/conf.yaml" :
    mode: "000775"
    owner: root
    group: root
    content: |
      #Log section
      logs:
      - type: file
        path: /var/log/httpd/error.log
        source: httpd
        sourcecategory: http_web_access
        service: httpd
     
commands:   
  1_command:    
    command: "sudo DD_AGENT_MAJOR_VERSION=7 DD_API_KEY=7b17c14f16721c82e1e4072362ec714a bash -c '$(curl -L https://raw.githubusercontent.com/DataDog/datadog-agent/master/cmd/agent/install_script.sh)'" 
    cwd: /home/ec2-user 
  2_command:    
    command: "sudo start datadog-agent"
  3_command:
    command: "sudo service httpd restart"
container_commands:
  1_command:
    command: "source /tmp/replace_datadog_api_key.sh"
    ignoreErrors: true    