files:  
  "/etc/filebeat/filebeat.yml":   
    mode: "000755"    
    owner: root 
    group: root 
    content: |  
      filebeat.prospectors: 
      - input_type: log 
        #Paths that should be crawled and fetched. Glob based paths.    
        paths:  
           - /var/log/eb-activity.log
           - /var/log/app.log
           - /var/log/nginx/*.log
        close_removed: true
        clean_removed: true
        max_bytes: 900000
        json.message_key: event 
        json.keys_under_root: true  
        json.overwrite_keys: true   
        registry_file: /var/lib/filebeat/registry   
    
       # Defines if the pattern set under pattern should be negated or not. Default is false.   
        multiline.pattern: '^\['    
        multiline.negate: true  
        multiline.match: after  
    
      output.elasticsearch: 
        # Array of AWS elastis search to connect to.    
       #hosts: ["hostname:80"] 
        hosts: ["https://search-speakes-stw7zuhygk5ng46iaxflfui3jm.us-west-2.es.amazonaws.com:443"] 
        region: "us-west-2"

        bulk_max_size: 10
        template.enabled: true  
        template.path: "filebeat.template.json"   
        template.overwrite: false   
        index: "filebeat-%{+yyyy.ww}" 
        output.console: 
         codec.json:    
           pretty: true 
    
      setup.dashboards: 
        setup.dashboards.enabled: true  
    
        #================================ Logging ===================================== 
    
        # Sets log level. The default log level is info.    
        # Available log levels are: critical, error, warning, info, debug   
       #logging.level: debug    
  "/opt/elasticbeanstalk/hooks/appdeploy/post/590-restart_filebeat.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      service filebeat restart
commands:   
  1_command:    
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-5.5.1-x86_64.rpm" 
    cwd: /home/ec2-user 
  2_command:    
    command: "rpm -ivh --replacepkgs filebeat-5.5.1-x86_64.rpm"   
    cwd: /home/ec2-user 
  3_command:    
    command: "sudo service filebeat restart"  
  4_command:    
    command: "sudo chkconfig filebeat on"
